name: Build & Push Docker Image

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Build Spring Boot Project (skip tests)
      run: mvn clean package -DskipTests

    - name: Build Docker Image
      run: docker build -t keepnotes .

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Tag Image
      run: docker tag keepnotes ${{ secrets.DOCKERHUB_USERNAME }}/keepnotes:latest

    - name: Push Image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/keepnotes:latest
